[Unit]
Description=Variod Daemon for Openvario
After=sensord.service

[Service]
Type=forking
ExecStart=/opt/bin/variod -c /opt/conf/variod.conf
Restart=on-abort

[Install]
WantedBy=multi-user.target
